@model IEnumerable<ShoppingCartMVC.Models.ProductCategoryItem>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.Sku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCategory)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Product.Price)
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Sku)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem =>  item.ProductCategory.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Price)
        </td>
        <td>
            <img src=@item.Product.ImageUrl>
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductCategoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductCategoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductCategoryId })
        </td>
    </tr>
}

</table>
